body
{
    height: auto;
    width: auto;
}

 
.mainMenu
{
    float: left;
    list-style: none;
    width: auto;
    height: auto;
    margin-top:15px;
    
}
.mainMenu ul
{
    list-style: none; 
    margin:10px; 
    padding:0;
}
.mainMenu ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.mainMenu ul li 
{
    padding-top: 3px;

}
.bodyContent 
{
    float:left;
    
    padding: 20px;
    width: 100%;
}
.container
{
    width:900px;
    height:auto;
    margin-bottom:15px;
    border: none;

}
.header 
{
    font-size:15px;
    border-bottom:#00386b 1px solid;
    color:#000;
    width:100%;
    height:auto; 
    padding:10px 0 10px 0;
    float:left;
    background:#bfc6cf;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}
.header a 
{
    text-decoration: none;
    color: #00386b;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.header a:hover
{
    text-decoration: underline;
}
.content 
{
    float:left;
    padding:0 0 10px 0;
    background:#ccc;
    width:100%; 
    height:auto;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;

    
}
#content_label p
{
    margin:10px;
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 140%;
}

.container_project
{
    width:200px;
    height:auto;
    margin-bottom:15px;
    border: none;
}
.header_project
{
    font-size:24px;
    border-bottom:#00386b 1px solid;
    color:#000;
    width:100%;
    height:auto; 
    padding:10px 0 10px 0;
    float:left;
    background:#bfc6cf;
    font-family: arial;
}
.content_project
{
    float:left;
    padding:10px 0 10px 0;
    background:#ccc;
    width:100%; 
    height:auto;
    text-align: left;
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
    font-family: arial;
    text-align: center;
}

.content_project a 
{
    font-size: 20px;
    text-decoration: none;
    color: #00386b;
    width: 100%;
}
#id_project_id {
    height: 30px;
    margin-top:15px;
    width: 150px;
}
#id_query
{
    font-family:"Lucida Grande",Verdana,Arial;
    font-size: 22px;
    background-color: #DDD;
    padding:5px;
    border: none;
    color: #00386b;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    height: 30px;
    margin-top:15px;
    width: 250px;
}

.create_project_form 
{
    margin:0;
    padding: 0;
}

.create_project_form label {
    color:#00386b;
    font-size: 18px;
    font-family:"Trebuchet MS",verdana,Ubuntu,sans-serif;
}
.create_project_form  input[type=text] {
    border:#00386b 1px solid;
    height:30px;
    width: 150px;
    font-size: 18px;
    padding: 5px;
    color:#00386b;
    font-family:"Trebuchet MS",verdana,Ubuntu,sans-serif;
}
.create_project_form input[type=submit], input[type=button] {
    height: 30px;
    width: 150px;
    border: none;
    background: #00386b;
    color: white;
    font-size: 18px;
    font-family:"Trebuchet MS",verdana,Ubuntu,sans-serif;
}

.create_ticket_form {
    font-family:"Lucida Grande",Verdana,Arial;
}
.create_ticket_form input {
    height: 30px;
    width: 150px;
    border: none;
    background: #00386b;
    color: white;
    font-size: 18px;
}
.create_ticket_form textarea
{
    width:800px;
    font-family:"Lucida Grande",Verdana,Arial;
    border:#00386b 1px solid;
}

.create_form 
{
    font-family:"Trebuchet MS",verdana,Ubuntu,sans-serif;
}

.create_form label
{
    color:#00386b;
    font-size: 18px;
    text-align: left;
}

.create_form input 
{
    height: 30px;
    width: 150px;
    border: none;
    background: #bfc6cf;
    color: white;
}
.create_form input[type=text], input[type=password]
{
    border:#00386b 3px solid;
    height:30px;
    width: 200px;
    font-size: 18px;
    padding: 5px;
    color:#00386b;
    background: #bfc6cf;
    margin-bottom: 5px;
}
.create_form input[type=submit] , input[type=button]
{
    height: 30px;
    width: 150px;
    border: none;
    background: #00386b;
    color: white;
    font-size: 18px;
    margin-top:5px;
}
.create_form textarea 
{
    width:800px;
    font-size: 14px;
    padding:10px;
    text-align:justify;
    border:#00386b 3px solid;
    background: #bfc6cf;
    color: #00386b;
}
h1
{
    font-size: 24px;
    color: #00386b;
    margin:0 0 10px 0;
    font-family:"Trebuchet MS",verdana,Ubuntu,sans-serif;
}





/* box */

#uyari {
    background-image: url('../images/bilgilendirme.png');
    background-repeat: no-repeat;
    width: 365px;
    height: 46px;
    color: #4f4d30;
    text-shadow: 1px 1px #ffffff;
    font-size: 9pt;
    padding-left: 55px;
    margin-bottom: 20px;
}
#hata {
    background-image: url('../images/bilgilendirme.png');
    background-repeat: no-repeat;
    background-position: 0px -46px;
    width: 150px;
    height: 46px;
    color: #9c394b;
    text-shadow: 1px 1px #ededed;
    font-size: 9pt;
    padding-left: 55px;
    margin-top: 10px;
}
#basarili {
    background-image: url('../images/bilgilendirme.png');
    background-repeat: no-repeat;
    background-position: 0px -92px;
    width: 150px;
    height: 46px;
    color: #535d3a;
    text-shadow: 1px 1px #ededed;
    font-size: 9pt;
    padding-left: 55px;
    margin-top: 10px;
}
.baslik {
    font-size: 12pt;
    font-weight: bold;
    padding-top:15px;
    height: auto;
}
.kapat {
    position: absolute;
    margin-left: 140px;
    padding-top: 5px;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 10px;
    cursor: pointer;
}
.ku {
    color: #ecd17f;
}
.kh {
    color: #ff92a0;
}
.kb {
    color: #bdd19a;
}
/* box */