<script type="text/javascript">

function controlButton(attribute,value,status)
{
     if (status == "ENABLE")
    {
        $(attribute).attr("disabled",false);
        $(attribute).css("background","#00386b");
        $(attribute).val(value);
    }
    else if (status == "DISABLE")
    {
        $(attribute).attr("disabled",true);
        $(attribute).css("background","#999");
        $(attribute).val("waiting");
    }
    else
        alert("false status");
}
function resetVal(itemList)
{
    $(itemList).val(null);
}

function submitForm(form,button,result)
{  
    var form = form;
    var buttonValue = button.value;
        $.ajax({
            type: $(form).attr("method"),
            url: $(form).attr("action"),
            data: $(form).serialize(),
            dataType: "json",
            beforeSend: function() {
               controlButton("#"+button.id,buttonValue,"DISABLE");
                $(result).hide();
            },
            success: function(response,code) {
                if(response.result=="true")
                {
                    $(result).show().html('<div id="basarili"> <div class="baslik"> '+ response.message +' </div></div>');
                    if (response.redirect == null)
                    {
                        resetVal("#id_content, #id_project, #id_requested_by");
                        controlButton("#"+button.id,buttonValue,"ENABLE");
                    }
                    else
                        window.location= (response.redirect);
                }
                else
                {
                    $(result).show().html('<div id="hata"> <div class="baslik"> '+ response.message +' </div></div>');
                    controlButton("#"+button.id,buttonValue,"ENABLE");
                }
            },
            error: function(jqXHR, textStatus, errorMessage) {
                controlButton("#"+button.id,"Create","ENABLE");
                $(result).show().html('<div id="hata"> <div class="baslik">'+errorMessage+'</div> </div>');
            }
        });  
}
</script>

{% extends "base.html" %}  


{% block content %}
<h1>{{ title }}</h1>
<table class="create_form"> 
    <form action="." method="post" id="createTicketForm">{% csrf_token %}
    {{ form.as_table }}
    <tr>
    	<td> </td>
        <!--<td> <input type="submit" value="Create" /> </td>-->
        <td> <input type="button" value="{{ title }}" id="sendButton" style="width:200px;height:30px" onclick="submitForm('#createTicketForm',this,'#status')"/> </td>
    </tr>
    </form>
    <tr>
        <td></td>
        <td><div id="status" style=""> </div></td>
    </tr>
</table>

{% endblock %}