<script type="text/javascript">

function controlButton(attribute,value,status)
{
     if (status == "ENABLE")
    {
        $(attribute).attr("disabled",false);
        $(attribute).css("background","#00386b");
        $(attribute).val(value);
    }
    else if (status == "DISABLE")
    {
        $(attribute).attr("disabled",true);
        $(attribute).css("background","#999");
        $(attribute).val("waiting");
    }
    else
        alert("false status");
}
function resetVal(itemList)
{
    $(itemList).val(null);
}

function submitForm()
{  
        $.ajax({
            type: "POST",
            url: $("#createProjectForm").attr("action"),
            data: $("#createProjectForm").serialize(),
            dataType: "json",
            beforeSend: function() {
               controlButton("#sendButton","Create","DISABLE");
                $("#status").hide();
                $("#id_name,#id_description").attr("disabled",true);
            },
            success: function(response,code) {
                controlButton("#sendButton","Create","ENABLE");
                if(response.result=="true")
                {
                    $("#status").show().html('<div id="basarili"> <div class="baslik"> '+ response.message +' </div></div>');
                    resetVal("#id_name,#id_description");
                }
                else
                {
                    $("#status").show().html('<div id="hata"> <div class="baslik"> '+ response.message +' </div></div>');
                }
                $("#id_name,#id_description").attr("disabled",false);
            },
            error: function(jqXHR, textStatus, errorMessage) {
                controlButton("#sendButton","Create","ENABLE");
                $("#status").show().html('<div id="hata"> <div class="baslik">'+textStatus+'</div> </div>');
            }
        });  
}

</script>

{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<table class="create_form">

    <form action="." method="post" id="createProjectForm">{% csrf_token %}
    {{ form.as_table }}
    <tr>
        <td> </td>
        <td> <input type="button" value="{{ title }}" id="sendButton" style="width:200px;height:30px" onclick="submitForm()"/> </td>
    </tr>
    <tr>
        <td></td>
        <td><div id="status" style=""> </div></td>
    </tr>
    </form>
  
</table>
{% endblock %}