{% extends "base.html" %}  


{% block content %}
<h1>Create Responsible</h1>
<table class="create_form">
    <form action="." method="post" id="createResponsibleForm">{% csrf_token %}
    {{ form.as_table }}
    <tr>
    	<td> </td>
        <td> <input type="button" value="Create" id="sendButton" style="width:200px;height:30px" onclick="submitForm('#createResponsibleForm',this,'#status')"/> </td>
    </tr>
    </form>
    <tr>
        <td></td>
        <td><div id="status" style=""> </div></td>
    </tr>
</table>

{% endblock %}