{% extends "base.html" %}  


{% block content %}
<h1>{{ title }}</h1>
<table class="create_form"> 
    <form action="." method="post" id="createTicketForm">{% csrf_token %}
    {{ form.as_table }}
    <tr>
    	<td> </td>
        <!--<td> <input type="submit" value="Create" /> </td>-->
        <td> <!--<input type="button" value="{{ title }}" id="sendButton" style="width:200px;height:30px" onclick="submitForm('#createTicketForm',this,'#status')"/> -->
           <div class="form-actions" style="margin:0px">
                <button type="button" class="btn btn-primary"  id="sendButton" onclick="submitForm('#createTicketForm',this,'#status')">{{ title }}</button>
                <button type="button" class="btn">Cancel</button>
                {% if title == "Edit Ticket" %} 
                <!--<input type="button" value="Delete" id="deleteButton" style="width:100px;height:30px" onclick="deleteBox({{ ticketId }}, this, '#status' )"/>-->
                    <button type="button" class="btn alert-error" id="deleteButton"  onclick="deleteBox({{ ticketId }}, this, '#status' )">Delete</button>
                {% endif %} 
            
                
            </div>
       </td>
    </tr>
    </form>
    <tr>
        <td></td>
        <td><div id="status" style=""> </div></td>
    </tr>
</table>

{% endblock %}