{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<table class="create_form">

    <form action="." method="post" id="createProjectForm">{% csrf_token %}
    {{ form.as_table }}
    <tr>
        <td> </td>
        <td> 
            <!--<input type="button" value="{{ title }}" id="sendButton" style="width:200px;height:30px" onclick="submitForm('#createProjectForm',this,'#status')"/> -->
            <div class="form-actions" style="margin:0px">
                <button type="button" class="btn btn-primary"  id="sendButton" onclick="submitForm('#createProjectForm',this,'#status')">{{ title }} </button>
           </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><div id="status" style=""> </div></td>
    </tr>
    </form>
  
</table>
{% endblock %}