<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/defaults.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <title>{{ title }}</title>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
    <script type='text/javascript' src='/static/js/pgcmt.js'></script>
    
</head>
<body>

<div class="bodyContent">

<div class="mainMenu">
    <ul>
        <li><a href="{% url 'Home' %}">Show All</a> </li>
        <li><a href="{% url 'CreateProject' %}">Create Project</a> </li>
        <li><a href="{% url 'CreateTicket' %}">Create Ticket</a> </li>
        <li><a href="{% url 'CreateRequestUser' %}">Create Responsible</a> </li>
        <li><a href="{% url 'ListProjects' %}">List Projects</a> <br></li>
        <hr>
        {% if user.username %}
            {% ifnotequal user.username "AnonymousUser" %}
                {{ user.username }} | <a href="/logout/">Logout</a>
            {% endifnotequal %}
        {% else %}
        <li><a href="{% url 'Login' %}">Login</a></li>
        {% endif %}
    </ul>
    <ul class"mainMenu" style="margin-top:40px;">
        <center><label>Projects</label></center>
        {% for project in projects %}
        <li style="width:150px; font-size:20px;"><a href="{% url 'ShowProject' project.name %}">{{ project }}</a></li>
        {% endfor %}
        {% block projects %} {% endblock %}
    </ul>
</div>
<center>
    {% block content %} {% endblock %}  
</center>
</div>
</body>
</html>