<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/defaults.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <title>{{ title }}</title>
</head>
<body>

<!--<a href="/">Show All</a> | 
<a href="/create/project/">Create Project</a> | 
<a href="/create/ticket/">Create Ticket</a> | 
<a href="/create/requestUser/">Create Responsible</a> | 
<a href="/projects/">List Projects</a> <br>
-->
<div class="bodyContent">

<div class="mainMenu">
    <ul>
        <li><a href="/">Show All</a> </li>
        <li><a href="/create/project/">Create Project</a> </li>
        <li><a href="/create/ticket/">Create Ticket</a> </li>
        <li><a href="/create/requestUser/">Create Responsible</a> </li>
        <li><a href="/projects/">List Projects</a> <br></li>
        <hr>
        {% if user.username %}
            {% ifnotequal user.username "AnonymousUser" %}
                {{ user.username }} | <a href="/logout/">Logout</a>
            {% endifnotequal %}
        {% else %}
        <li><a href="/login/">Login</a></li>
        {% endif %}
    </ul>
</div>
<center>
    {% block content %} {% endblock %}  
</center>
</div>
</body>
</html>